.cars {
  width: 346px;
  height: 440px;
  border: none;
  box-shadow: 0px 0px 10px;
  border-radius: 20px;
  margin: 20px 20px;
  background-color: white;
}

.car-img-wrapper {
  width: 420px;
  height: 230px;
  object-fit: cover;
  padding: 0;
}

.car-img-wrapper img {
  width: 82.5%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 3px solid #3d3b3d;
}

.car-name {
  color: rgb(70, 66, 66);
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: -15px;
}

.vehicle-description {
  color: rgb(70, 66, 66);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.btn {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #3d3b3d;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 3px;
}

.btn:hover {
  filter: brightness(70%); /* Slightly darken the li on hover */
}
